@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
}
* {
  -webkit-tap-highlight-color: transparent;
}

button {
  touch-action: manipulation;
}
